{% extends 'utv_smeta/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-2 bg-secondary overflow-auto" style="height: 821px">
            <h3>Чат к проекту</h3>
            <form method="post" action="{% url 'comment_create' cards.pk %}">
                {% csrf_token %}
                {% bootstrap_form form_comment %}
                {% bootstrap_button content='Добавить коментарий' type='submit' %}
            </form>
            {% for i in cards.comment.all %}
            <div class="shadow-none p-3 m-1 bg-light rounded">
                <a href="{% url 'profile' i.author.profileuser.pk %}"><img src="{{ i.author.profileuser.avatar.url }}" alt="mdo" width="32" height="32" class="rounded-circle"></a>
                <strong class="text-gray-dark">{{ i.author.username }}</strong>
                <hr>
                <p class="text-break">{{ i.text }}</p>
                <hr>
                <p>{{ i.created }}</p>
                <form method="post" action="{% url 'comment_delete' cards.pk %}">{% csrf_token %}<input type="hidden" name="comment_pk" value="{{ i.pk }}">{% bootstrap_button content='Удалить' type='submit' button_class='btn btn-danger'%}</form>
            </div>
            {% endfor %}
        </div>
        <div class="col-6 p-5 bg-light rounded" style="height: 821px">
            <h1>{{ cards.title }}</h1>
            <hr>
            <div class="overflow-auto" style="height: 200px">
            <p>Описание:{{ cards.description }}</p>
            </div>
            <p>Дата создания: {{ cards.created }}</p>
            <p>Дедлайн: {{ cards.date_dedlain }}</p>
            <hr>
            <div class='row' style="height: 340px" >
            {% if not my_work %}
            <form class='inline' method="post" action="{% url 'worker_create' cards.pk %}">
                {% csrf_token %}
                {% bootstrap_form form_worker %}
                {% bootstrap_button content='Добавить рабочее время' type='submit' %}
            </form>
            {% else %}
            <form class='inline' method="post" action="{% url 'worker_update' cards.pk %}">
                {% csrf_token %}
                {% bootstrap_form form_worker %}
                {% bootstrap_button content='Изменить рабочее время' type='submit' %}
            </form>
            {% endif %}
            <hr>
            <table class="table">

                  <thead>
                    <tr>
                      <th scope="col">Исполнители</th>
                      <th scope="col">Фактическое время</th>
                      <th scope="col">Плановое время</th>
                      <th scope="col">Удалить</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for i in cards.worker.all %}
                    <tr>
                      <th scope="row"><a href="{% url 'profile' i.author.profileuser.pk %}"><img alt="mdo" width="32" height="32" class="rounded-circle" src="{{ i.author.profileuser.avatar.url }}"></a></th>
                      <td>{{ i.actual_time }}</td>
                      <td>{{ i.scheduled_time }}</td>
                        {% if request.user == i.author %}
                      <td><form method="post" action="{% url 'worker_delete' cards.pk %}">{% csrf_token %}{% bootstrap_button type='submit' content='Удалить' button_class='btn btn-danger' %}</form> </td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>

            </table>
            </div>
    <hr>
        </div>
        <div class="col-4 p-5 bg-success overflow-auto" style="height: 821px">
            <h2>Исполнители</h2>
            {% for i in cards.performers.all %}
            <a href="{% url 'profile' i.profileuser.pk %}"><img alt="mdo" width="32" height="32" class="rounded-circle" src="{{ i.profileuser.avatar.url }}"></a>
            {% endfor %}
            <hr>
        {% if request.user == cards.author %}
            <form method="post" action="{% url 'table_create' cards.pk %}">
                {% csrf_token %}
                {% bootstrap_form form_table %}
                {% bootstrap_button content='Создать таблицу' type='submit' %}
            </form>
            <hr>
            <h1>Таблицы</h1>
        {% if cards.table.count != 0 %}
            {% for table in cards.table.all %}
                <a href="{% url 'table_detail' cards.pk table.pk %}"><button type="button" class="btn btn-primary">Посмотреть таблицу за {{ table.created_time }}</button></a>
            {% endfor %}
        {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}