{% extends 'utv_smeta/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-2 bg-secondary overflow-auto" style="height: 821px">
            </div>
            <div class="col-6 p-5 bg-light rounded" style="height: 821px">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Плановые данные</th>
                      <th scope="col">Сметная стоимость</th>
                      <th scope="col">Фактические данные</th>
                      <th scope="col">Сметная стоимость</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Плановая ЦЕНА для клиента</th>
                      <td>{{ table.planned_price_client }}</td>
                      <th>Фактическая ЦЕНА для клиента</th>
                      <td>{{ table.price_client }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановая себестоимость</th>
                      <td>{{ table.planned_cost }}</td>
                      <th>Фактическая себестоимость</th>
                      <td>{{ table.cost }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановая зарплата участников</th>
                      <td>{{ table.planned_salary }}</td>
                      <th>Фактическая зарплата участников</th>
                      <td>{{ table.salary }}</td>
                    </tr>
                  {% for i in table.salaryprojectuser_set.all %}
                    <tr>
                      <th scope="row">{{ i.worker.author }}</th>
                      <td>{{ i.planned_salary }}</td>
                      <th>Фактическая зарплата</th>
                      <td>{{ i.salary }}</td>
                    </tr>
                  {% endfor %}
                    <tr>
                      <th scope="row">Плановые налоги с ФОТ</th>
                      <td>{{ table.planned_taxes_FOT }}</td>
                      <th>Фактическая налоги с ФОТ</th>
                      <td>{{ table.taxes_FOT }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановые Покупка реквизита для организации съемочного процесса/ Непредвиденные расходы</th>
                      <td>{{ table.planned_other_expenses }}</td>
                      <th>Фактическая Покупка реквизита для организации съемочного процесса/ Непредвиденные расходы</th>
                      <td>{{ table.other_expenses }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановые Покупка реквизита для организации съемочного процесса/ Непредвиденные расходы</th>
                      <td>{{ table.planned_other_expenses }}</td>
                      <th>Фактическая Покупка реквизита для организации съемочного процесса/ Непредвиденные расходы</th>
                      <td>{{ table.other_expenses }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановые Общехозяйственные расходы</th>
                      <td>{{ table.planned_general_expenses }}</td>
                      <th>Фактическая Общехозяйственные расходы</th>
                      <td>{{ table.general_expenses }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановая Прибыль</th>
                      <td>{{ table.planned_profit }}</td>
                      <th>Фактическая Прибыль</th>
                      <td>{{ table.profit }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Плановая Рентабельность</th>
                      <td>{{ table.planned_profitability }}%</td>
                      <th>Фактическая Рентабельность</th>
                      <td>{{ table.profitability }}%</td>
                    </tr>
                  </tbody>

    </table>
            </div>
        </div>
    </div>
{% endblock %}